{% extends 'base.html' %}

{% block content %}
    <h2>Alle Søknader</h2>
    <table border="1">
        <tr>
            <th>Søknadsnummer</th>
            <th>Navn</th>
            <th>Adresse</th>
            <th>Barnehage</th>
            <th>Status</th>
        </tr>
        {% for soeknad in soeknader %}
        <tr>
            <td>{{ soeknad['soeknadsnummer'] }}</td>
            <td>{{ soeknad['navn_foresatt'] }}</td>
            <td>{{ soeknad['adresse'] }}</td>
            <td>{{ soeknad['barnehage_navn'] }}</td>
            <td>{{ soeknad['status'] }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
